@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #EB9419;
    border-color: #EB9419;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #EB9419;
    border-color: #EB9419;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #EB9419;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #EB9419 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #EB9419 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/*  ----------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}
/* ------------------------------------------  */

ul li a:hover{
    background-color: transparent !important;
    color: #EB9419 !important;
  }
  .backgroundimage{
    /* background-image: url('https://images.unsplash.com/photo-1589536677029-c0aa1808fba6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNwaWNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); */
    background-image: url('https://images.unsplash.com/photo-1601975940349-bc1ae79adb5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .navbtn{
      color: #EB9419;
  }
.content1{
    background-color: white;
    width: 100%;
    height: 100vh;
    margin-top: 20%;
}

/* product */
.product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all 0.7s ease 0s;
}
.product-grid:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.15),10px 10px rgba(0,0,0,0.05); }
.product-grid .product-image{
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-image .pic-1{ transition: all 200ms ease 0s; }
.product-grid .product-image:hover .pic-1{ opacity: 0; }
.product-grid .product-image .pic-2{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 3s;
}
.product-grid .product-image:hover .pic-2{
    opacity: 1;
    transform: scale(1.5);
}
.product-grid .product-hot-label{
    color: #fff;
    background: #222;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 7px 12px;
    position: absolute;
    top: 0;
    left: 0;
}
.product-grid .product-links{
    background: #f1f1f1;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: scaleX(2);
    position: absolute;
    bottom: -50px;
    left: 0;
    transition: all 0.5s ease-in-out 0s;
}
.product-grid:hover .product-links{
    opacity: 1;
    transform: scaleX(1);
    bottom: 0;
}
.product-grid .product-links li{
    margin: 0 -2px;
    display: inline-block;
}
.product-grid .product-links li a{
    color: #444;
    font-size: 16px;
    line-height: 41px;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    transition: all .2s ease-out;
}
.product-grid .product-links li a:hover{
    color: #fff;
    background-color: #EB9419;
}
.product-grid .product-links li a:before,
.product-grid .product-links li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #222;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -40px;
    transition: all 0.3s;
}
.product-grid .product-links li a:after{
    content: '';
    height: 15px;
    width: 15px;
    transform: translateX(-50%) rotate(45deg);
    top: -25px;
    z-index: -1;
}
.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after{
    display: block;
}
.product-grid .product-content{
    background: #fff;
    padding: 15px 12px;
    position: relative;
}
.product-grid .add-to-cart{
    color: #EB9419;
    font-size: 15px;
    font-weight: 600;
    transform: translateX(-50%);
    position: absolute;
    top: 13px;
    left: 50%;
    opacity: 0;
    transition: all 1s ease 0s;
}
.product-grid:hover .add-to-cart{ opacity: 1; }
.product-grid .add-to-cart i.fas{
    font-size: 14px;
    margin: 0 5px 0 0;
}
.product-grid .title{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.product-grid .title a{ color: #444; }
.product-grid:hover .title{ opacity: 0; }
.product-grid .rating{
    color: #1c1a19;
    font-size: 12px;
    padding: 0;
    margin: 0 0 11px;
    list-style: none;
}

@media screen and (max-width: 990px){
    .product-grid{ margin: 0 0 30px; }
}
/* product */


/* carousel start */
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
/* carousel End */

/* footer */

.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:10px;
    /* height: 200px; */
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }


  ul li a:hover{
      background-color: transparent !important;
      color: #EB9419 transparent;
        
  }
  #link{
      margin-left: -5px;
      text-align: center;
      /* padding-left: -20px; */
      
  }
#link3{
    margin-left: 2px;
}
#link2{
    /* text-align: center; */
    padding-left: 30px;
    /* padding: 10px; */

}

h3{
    color: #EB9419;
}


#pak{
    font-weight: lighter;
    
}
.date{
    float: right;
    
}
#aus{
    margin-top: -2px;
    margin-bottom: 50px;
}
#pkk{
    margin-bottom: -20px;
}
#para{
    margin-top: -2px;
    margin-bottom: 20px;
}
#parr{
    margin-bottom: -20px;
}
#image{
    color: #EB9419;
    text-align: center;
    margin-top: 50px;
    margin-left: 1%;
    margin-bottom: 20px;
    
}
/* footer */